{% extends "templates/base.html" %}
{% block title %}The GovLab Academy{% endblock %}

{% block content %}
<section class="b-centered b-content">
  <h1>What is the GovLab Academy</h1>
  <p>The goal of the GovLab Academy is to support a new generation of public entrepreneurs to tap the intelligence of citizens and create actionable projects that improve people’s lives.</p>
  <ul>
      <li>Build an open library of interactive resources focused on innovations in smarter governance</li>
      <li>Grow a network of like-minded collaborators working on public problems and widen the pool of mentors</li>
      <li>Offer structured programs which provide would-be civic innovators with the training, practical assistance and support they need to get their project ready to launch. This programming is delivered face-to-face and online.</li>
  </ul>
</section>

<!-- Nothing for now.
<section id="quotes" class="b-centered b-content">
  <h1>What people say</h1>
  <blockquote class="b-quotes b-half">
    <p class="e-quote">"I'm looking forward to this year's reunion and catching up with everyone."</p>
    <small class="e-quote-author">Alan K.</small>
  </blockquote>

  <blockquote class="b-quotes b-half">
    <p class="e-quote">"I'm looking forward to this year's reunion and catching up with everyone."</p>
    <small class="e-quote-author">Beth N.</small>
  </blockquote>
  <blockquote class="b-quotes b-half">
    <p class="e-quote">"I'm looking forward to this year's reunion and catching up with everyone."</p>
    <small class="e-quote-author">Nikki Z.</small>
  </blockquote>
  <blockquote class="b-quotes b-half">
    <p class="e-quote">"I'm looking forward to this year's reunion and catching up with everyone."</p>
    <small class="e-quote-author">Celia H.</small>
  </blockquote>
</section>
--> 

<!-- Nothing for now.
<section id="gallery-section" class="b-centered b-content">
  <h1>Some of our past projects</h1>
  <div class="b-slider">
    <div class="e-slider-strip">
      <div class="e-slide">
        <h3>Project I</h3>
        <p>this is a great project about crowdfunding.</p>
      </div>
      <div class="e-slide">
        <h3>Project II</h3>
        <p>This is another great project about homelessness.</p>
      </div>
      <div class="e-slide">
        <h3>Project III</h3>
        <p>This is another great project about hunger.</p>
      </div>
      <div class="e-slide">
        <h3>Project IV</h3>
        <p>This is another great project about bribery.</p>
      </div>
    </div>
  </div>
</section>
-->

{% endblock %}