{% extends "templates/base.html" %}
{% block title %}The GovLab Academy Fall 2014 Class{% endblock %}

{% block extras_post %}
<!-- HACK -->
<style>
.e-filter.selected { text-decoration: underline; }
</style>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{%endblock %}

{% macro student(user) -%}
    <li><img class="avatar" alt="{{user|fullName}}" src="{{user.photoUrl|defaultPicture}}"/>
    	{% if user.lastLoginTime != '1970-01-01T00:00:00.000Z' %}
    	<a href="/profile?user_email={{user|primaryEmail}}">{{user|fullName}}</a>
    	<a href="mailto:{{user|primaryEmail}}"><i class="fa fa-paper-plane"></i></a>
    	{% else %}
    	{{user.name.fullName}}
    	{% endif %}
    	{% if admin %}<a href="/removeUser/{{user|primaryEmail}}"><i class="fa fa-trash"></i></a>{% endif %}
    	</li>
{%- endmacro %}

{% block content %}

<section class="b-centered b-content">
	<h1>Mailing lists</h1>
	<ul>
		<li><a href="https://groups.google.com/a/thegovlab.org/forum/#!forum/sppwt-f2014-class">sppwt-f2014-class@thegovlab.org</a> (everyone in the class)</li>

</section>

<section class="b-centered b-content">
	<h1>Overview of the Fall 2014 Class</h1>

	<h2>List of <a href="/projects">class projects</a></h2>

	<h2>Faculty</h2>
		<ul>
		{% for user in faculty %}
    	{{student(user)}}
		{% endfor %}
		</ul>

	<h2>Location = MIT ({{mit_students|length}})</h2>
		<ul>
		{% for user in mit_students %}
    	{{student(user)}}
		{% endfor %}
		</ul>

		<h2>Location = NYU ({{nyu_students|length}})</h2>
		<ul>
		{% for user in nyu_students %}
    	{{student(user)}}
		{% endfor %}
		</ul>

		<h2>On-line ({{online_students|length}})</h2>
		<ul>
		{% for user in online_students %}
    	{{student(user)}}
		{% endfor %}
		</ul>

</section>

{% endblock %}