{% extends "templates/base.html" %}
{% block title %}The GovLab Academy Courses{% endblock %}

{% block content %}

<section class="b-centered b-content">
	<p>Solving Public Problems with Technology, September 3 – December 19, 2014 @ NYU ITP, MIT Media Lab, and online streaming.</p>

	<p>View the syllabus <a target="__new__" href="http://govlab.github.io/academy-courses/Solving-Public-Problems-Fall-2014/">here</a>.</p>
	<!--
	<iframe width="100%" height="600px" frameBorder=0 src="http://govlab.github.io/academy-courses/Solving-Public-Problems-Fall-2014/"></iframe>
-->
</section>
{% endblock %}