{% extends "templates/base.html" %}
{% block title %}My Dashboard{% endblock %}

{% block extras_post%}
<style>
.e-faq-question { font-weight: bold;}
.b-content { margin-top: 25px;}
</style>
{% endblock %}

{% block content %}

<section class="b-centered b-dashboard-header">
        <h1>Dashboard</h1>
        <p class="e-username">Welcome {{user.name.givenName}} (<a href="{{logout_url}}">logout</a>)</p>
</section>

<section class="b-centered b-content">
  <h1>Frequently Asked Questions</h1>
  <div class="container">

<div class="b-faq">
<p class="e-faq-question">How do I access my profile?</p>
 <p class="e-faq-answer">You can access your profile by clicking on the profile icon located in the top right corner of the dashboard. This profile page is editable and will be visible to others who have GovLab Academy accounts.</p>
 <p>Your profile picture is your Google picture; from your GMail at GovLab account, click on your picture and then choose "change photo".</p>
 </div>

<div class="b-faq">
<p class="e-faq-question">Why should I bother filling out my profile page?</p>
<p class="e-faq-answer">One of the main purposes of this website is to enable you all to support,  teach, and inspire each other. This profile helps other GovLab participants get an initial sense of who you are and what you are working on.</p>
</div>

<div class="b-faq"> 
<p class="e-faq-question">How do I see who else is participating in this course?</p>
 <p class="e-faq-answer">Click on “Fall 2014 Class” in the top menu bar so see the current course directory.</p>
</div>

<div class="b-faq">
<p class="e-faq-question">How do I contact others?</p>
 <p class="e-faq-answer">Your GovLab email address will be hyperlinked to your name in the “Fall 2014 Class” page once you’ve claimed your GovLab account.  People who have claimed their accounts will be able to email with each other.</p>
 <p>Additionally, at the top of the “fall 2014 Class”  page, we’ve listed email addresses if you want to send out a message to groups within this course.</p>
</div>

<div class="b-faq">
 <p class="e-faq-question">How do I give feedback about the site?</p>
 <p class="e-faq-answer">The is a feedback tab on the bottom right corner of each page. If you want to exit the feedback tab, hit ESC.</p>
</div>

<div class="b-faq">
<p class="e-faq-question">What is a ‘Snippet?”</p>
<p class="e-faq-answer">A snippet is short piece of text where you write down what you did last week and what they plan to do in the upcoming weeks. This is for you to keep track of your progress; this is for others to see what you are up to. See <a target="__new__" href="http://blog.idonethis.com/why-google-snippets/">here</a> and <a target="__new__" href="http://blog.idonethis.com/silicon-valleys-productivity-secret/">here</a> for more info about the origin of snippets.</p>
</div>
</div>
</section>

<!--
<section class="b-centered b-content">
  <h1>Onboarding</h1>
  <div class="b-half">
    <div class="e-half-content">
      <iframe src="https://docs.google.com/a/thegovlab.org/presentation/d/1f5E--vE24Bz95umWj5cFGho5SPnyUSaf7_AsZd8HYxs/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
  	</div>
  <div class="b-half">
  	<div class="e-half-content">
      <iframe src="https://docs.google.com/a/thegovlab.org/presentation/d/1f5E--vE24Bz95umWj5cFGho5SPnyUSaf7_AsZd8HYxs/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      <p>change this one; add the on-boarding video</p>
  	</div>
  </div>
</section>
-->

    <section class="b-centered b-content">
      <!--
      <div class="b-half">
        <h1>Latest news</h1>
        <div class="e-half-content">
                  	<iframe src="https://docs.google.com/a/thegovlab.org/document/d/1PVAkn_UUHhc1OgQ2bSFznZE-m54dT8UDPm8WzF3hLlI/pub?embedded=true&rm=minimal" frameborder="0" width="100%" height="400"></iframe>
    
        </div>
      </div>
-->
      <div class="">
          <h1>Class Calendar</h1>
          <div class="e-content">
          	<iframe src="https://www.google.com/calendar/embed?src=thegovlab.org_df4b1u1qj5ktbrso57s2ojkrsk%40group.calendar.google.com&ctz=America/New_York&showTitle=1" style="border: 0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
          </div>
      </div>
    </section>

    <section class="b-centered b-content">
      <div class="b-half">
          <h1>My weekly snippet</h1>
          <div class="e-half-content">
          	<iframe src="http://academy.thegovlab.org/snippet/?embedded=true" height="400px" frameborder="0" width="100%"></iframe>
          </div>
          

      </div>
      <div class="b-half">
          <h1>My working documents</h1>
          <div class="e-half-content">
          	<iframe src="https://drive.google.com/a/thegovlab.org/embeddedfolderview?id=0B-BTzZGOWDTHc3ZNcWlKaUpSU00#list" width="100%" height="600px" frameborder="0"></iframe>
          </div>
      </div>
    </section>
{% endblock %}