{% extends "templates/base.html" %}
{% block title %}The GovLab Academy{% endblock %}
{% block extras_pre %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="b-centered b-content">
	<h1>My public profile</h1>

    <form action="/profile" METHOD="POST">
    <div class="b-half">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="First Name" name="fname" value="{{fname}}">
        <input type="text" class="form-control" placeholder="Last Name" name="lname" value="{{lname}}">

        <label for="name">Location</label>
        <input type="text" class="form-control" placeholder="City, State" name="city_state" value="{{city_state}}">
        <input type="text" class="form-control" placeholder="Country" name="country" value="{{country}}">

        <label for="name">Social networks</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-facebook-square"></i></span>
          <input type="text" class="form-control" placeholder="your facebook account" name="facebook" value="{{facebook}}">
        </div>

        <br/>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-twitter-square"></i></span>
          <input type="text" class="form-control" placeholder="your Twitter handle" name="twitter" value="{{twitter}}">
        </div>

        <br/>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-github"></i></span>
          <input type="text" class="form-control" placeholder="your GitHub account" name="github" value="{{github}}">
        </div>

    </div>
    <div class="b-half m-right">
        <label for="name">Experience</label>
        <select class="form-control" name="year_experience" value="{{year_experience}}">
            <option>1 year</option>
            <option>2 years</option>
            <option>3 years</option>
            <option>4 years</option>
            <option>5+ years</option>
        </select>       
        <select class="form-control" name="sector_experience" value="{{sector_experience}}">
           <option>Academia</option>
           <option>Industry</option>
           <option>Public Sector</option>
           <option>Entrepreneur</option>
        </select>
        <textarea class="form-control" cols="80" rows="8" placeholder="Tell us about your Experience" name="experience">{{experience}}</textarea> 
    </div>
    <div class="b-form-section">
        <h4>Skill "Marketplace"</h4>
        <div class="b-half">
          <label for="name">Skills you can offer</label>
            <textarea class="form-control" placeholder="Using keywords, summarize your skills. (e.g. what do you do well)" name="offer" >{{offer}}</textarea>     
        </div>
        <div class="b-half m-right">
          <label for="name">Interests you have</label>
            <textarea class="form-control" placeholder="Using keywords, summarize your interests. (e.g. topics about which you are passionate)" name="demand"  >{{demand}}</textarea>    
        </div>
    </div>
    <div class="b-form-section">
        <button type="submit" class="b-button">Update my profile</button>
    </div>
    </form>
    <script>
    // jQuery code to make sure the <select> display the correct value, as encoded by @value.
    $(document).ready(function() {
      $('select').children('option').each(function(i,v) {
        if (v.text == $(v).parent().attr('value')) {
          $(v).attr('selected','')
        }
      });
    });
    </script>
</section>

{% endblock %}