<html>
  <head>
    <title>{{user}}'s Weekly Snippet ({{start_date}}-{{end_date}})</title>
  <head>
    <link rel="stylesheet" href="assets/icomoon/style.css">
    <link rel="stylesheet" href="scss/styles.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/includes/EpicEditor-v0.2.2/js/epiceditor.min.js"></script>

  </head>
    <body>

      <!-- Header with name of user; skipped in embed mode. -->
      {% if embedded == "false" %}
      <div class="snippet-header"><p>Showing snippet for user <span class="snippet-header-user">{{username}}@{{domain}}</span></p>
      </div>
      {% endif %}
      
      <div id="week-nav" style="width: 400px;">
        <a class="nav-prev" href="/snippet/{{username}}/{{prev_week}}?embedded={{embedded}}"><i class="fa fa-chevron-left"></i></a>&nbsp;
        <span class="snippet-header-date">{{start_date}}</span>
        ⟷
        <span class="snippet-header-date">{{end_date}}</span>&nbsp;
        <a class="nav-next" href="/snippet/{{username}}/{{next_week}}?embedded={{embedded}}"><i class="fa fa-chevron-right"></i></a>
      

      {% if edit %}
      <form action="/snippet/{{username}}/{{week}}?embedded={{embedded}}" method="POST">
        <div><textarea style="display:none;" id="snippet_data" name="snippet_data" >{{snippet_content}}</textarea></div>
        <div style="text-align: center;"><input type="submit" value="Update Your Snippet"></div>
      </form>
      {% else %}
      <div><textarea style="display:none;" id="snippet_data">{{snippet_content}}</textarea></div>
      {% endif %}

    </div>

      <div id="snippet-editor" style="width:400px; border: 1px solid;"></div>

      <script>
        var options = { container: 'snippet-editor',
          basePath: '/includes/EpicEditor-v0.2.2',
          clientSideStorage: false,
          textarea: 'snippet_data',
          autogrow: false,
          {% if edit %} button: { fullscreen: false } {% else %} button: false {% endif %}
        };
        var editor = new EpicEditor(options).load();
        editor.preview();
      </script>
    </body>
</html>
