<h2>Class syllabus for Week #2 <a target="__new__" href="http://govlab.github.io/academy-courses/Solving-Public-Problems-Fall-2014/#week-02"><i class="fa fa-external-link-square"></i></a></h2>

<h2>Latest additions</h2>
<p>Andrew Cramer, senior ux designer with Case Commons discusses human centered design.</p>
<iframe src="//player.vimeo.com/video/105764351" width="250" height="141" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/105764351">Andrew Cramer Human Centered Design</a> from <a target="__new__" href="http://vimeo.com/govlab">The GovLab</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
<p>See also his <a target="__new__" href="http://files.thegovlab.org/academy/fall2014/presentations/GovLab_Presentation_2014.pdf">slides</a>.</p>

<h2>Your todos</h2>
<ul>
	<li>Get outside and interview your target group of users.</li>
	<li>Post your problem statement (one per team) on this <a href="https://drive.google.com/a/thegovlab.org/folderview?id=0B-BTzZGOWDTHVDdjMWxvY2Y5eDA&usp=sharing">GovLab Academy Drive folder</a>.</li>
</ul>