<h2>Class syllabus for Week #3 <a target="__new__" href="http://govlab.github.io/academy-courses/Solving-Public-Problems-Fall-2014/#week-03"><i class="fa fa-external-link-square"></i></a></h2>


<p>LOCATION: We will be meeting online at <a href="https://unhangout.media.mit.edu/event/sppwt">https://unhangout.media.mit.edu/event/sppwt</a> for one hour during regular class time (either Wednesday at 11am or Thursday at 6:30pm). <b>We will not be meeting in person</b>.
</p>

<p>
	TO DO: In class, we will discuss crowdsourcing for the first quarter and then move into an exercise led by GovLab fellow Dinorah Cantú. The most important thing for you to focus on preparing for class this week is the following:

<ul>

<li> Please use our <a target="__new__" href="https://techteam.neotalogic.com/a/govlab">Crowdsourcing Advisor</a> (still in the prototype phase) which will help you identify objectives, intended audience, and tasks to be undertaken to your specific needs and circumstances. This shouldn't take you more than 10 minutes.</li>

<li>Collect all sort of data about the users that you envision for your project and turn them into "personas." A persona is one fictional character constructed to represent the needs of a whole range of real users. Your persona should have: 
Face, name, gender (if relevant), education level, marital status, income and/or whatever demographic aspect relevant to your project. 
Additionally, try to describe the attitudes and perceptions your persona has about the world or about the subject matter of your project. 
Finally, please consider the persona attitudes toward the Web and technology: how much time do your persona spends using the Web every week? Is technology a part of their daily live? Etc...
</li>

<li>Be prepared to talk about one of your personas, in particular:
How will you incentivize your persona for participation; 
How will you control the quality of the persona participation, and; 
Through which communication technology or platform will your crowd participate and why.
</li>
</ul>
</p>

<p>
NEXT WEEK: Using Data for Problem Solving . . .
</p>