<h2>Class syllabus for Week #8 <a target="__new__" href="http://govlab.github.io/academy-courses/Solving-Public-Problems-Fall-2014/#week-08"><i class="fa fa-external-link-square"></i></a></h2>

<p>This week's class is about the power of persuasion and we're meeting IN PERSON for those of you who are participating at NYU and MIT. Both Beth and Alan will be discussing communication tactics with you; Alan will focus on the art of presenting effectively.</p>

<p>Also, please update your profiles and group projects on academy.thegovlab.org as soon as you are able (you should be able to just go in and edit the fields). We'd like to reach out to prospective attendees for your final project pitch days and these profiles and group descriptions will help us do this.</p>

<p>In case you will be joining us online, information about how to join is below. 
Join from PC, Mac, iOS or Android: <a href="https://www.zoom.us/j/907351861">https://www.zoom.us/j/907351861</a></p>
 
Or join by phone: 
<pre>
    +1 (415) 762-9988 or +1 (646) 568-7788 US Toll
    Meeting ID: 907 351 861
</pre>